@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

area:hover,
.side-panel-btn:hover {
  cursor: pointer;
}

.hud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  margin-top: 20px;
  margin-left: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  max-height: 42px;
}

.popuphud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #fff;
}

.popup-dot-locator {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  position: absolute;
  background-color: red;
}

.profile-sign-in {
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.category-btn {
  background-color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 18px;
  gap: 3px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.searchbar-option:hover,
.category-btn:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.searchbar-option {
  display: grid;
  grid-template-columns: 41px 1fr;
}

.hover-background {
  background-color: #f3f3f3;
}

.side-panel {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.243);
  transition: width 0.25s ease-in-out;
}

.close-panel-btn {
  background-color: #fff;
  position: absolute;
  top: 48%;
  border-width: 1px;
  width: 20px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.243);
  transition: right 0.25s ease-in-out;
}

.side-panel-btn {
  color: rgb(26, 115, 232);
  font-size: small;
}

.side-panel-btn-circle {
  border-width: 1px;
  border-color: rgb(26, 115, 232);
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.modal {
  font-size: 12px;
  height: 100%;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: medium;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #fff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
