@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

area:hover {
  cursor: pointer;
}

.hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
