@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

area:hover {
  cursor: pointer;
}

.hud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.popuphud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #fff;
}

.popup-dot-locator {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  position: absolute;
  background-color: red;
}
